@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.header {
  background-color: aliceblue;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.logo img {
  height: 100px;
  width: 100px;
}

.nav-items ul {
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: 18px;
  margin-right: 30px;
}

.main-content {
  padding: 30px;
}

.filter-search-container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}

.main-content button {
  background-color: lightcyan;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: right;
  margin-bottom: 20px;
  cursor: pointer;
}

.search-input {
  padding: 20px;
  font-size: 16px;
  width: 300px;
  margin-left: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
}

.cards {
  width: 300px;
  height: auto;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 10px;
}
.cards img {
  object-fit: cover;
  width: 100%;
  min-height: 250px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.cards > p {
  margin-top: 10px;
  font-size: 16px;
  color: gray;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-top: 30px;
}
.restaurant-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.shimmer-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.shimmer-card {
  width: 300px;
  height: 400px;
  background-color: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 400px;
  animation: shimmer 1.5s infinite linear;
  border-radius: 10px;
}

.shimmer-img {
  object-fit: cover;
  width: 100%;
  min-height: 250px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: beige;
}
